DATABASE_URL="postgresql://username:password@localhost:5432/link_db"
# generate with command: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGINS=https://link.id0.uk,https://www.link.id0.uk
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
